/*Cores para design
#FFC0CB escuro
#FFF5EE claro
#40E0D0 verde*/
/* soft reset do css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

header{
    height: 100vh;
}
.menu {
    width: 100vw;
    height: auto;
    width: auto;
    background-color:  #40E0D0;
    margin: 10px;  
}

a{
    color: black;
    text-decoration: none;
    font-family: 'Abril Fatface', cursive;
    font-size: 25px;
}
.menu li{
    list-style: none;
}
.menu ul{
    display: flex;
    justify-content: space-around;
}

@media (max-width: 499px){
    a {
        font-size: 15px;
    }
}
@media (min-width: 500px){
    a {
        font-size: 20px;
    }
}
@media (min-width: 800px){
    a {
      font-size: 25px;
    }
}

body {
    background-color: #FFF5EE;
}